BASE_URL="http://localhost"
SERVER_PORT=":5555"

DB_HOST="localhost"
DB_NAME=""
DB_USERNAME=""
DB_PASSWORD=""

REDIS_HOST="localhost:6379"
REDIS_PASSWORD=""

JWT_ISSUER=""
JWT_SECRET="lahaulawaquwwataillabillah"
JWT_TOKEN_LIFE_TIME_HOUR=2

MAIL_HOST=""
MAIL_PORT=""
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_USE_TLS=""
MAIL_SENDER=""
MAIL_MAX_ATTEMPTS="3"
